{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/cart.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700i" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" style="background-color: aquamarine; background-image: url('../static/image/pizz.jpg');background-size: cover;background-attachment: fixed;">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                             <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ wtf.quick_form(order_form)}}
                <br><br>
                <button><a href="/cart/order/checkout">CHECKOUT</a></button>
            </div>
        </div>
    </div>
{% endblock %}